body,button,dd,div,dl,dt,form,h1,h2,h3,h4,h5,h6,html,iframe,input,li,p,select,table,td,textarea,th,ul{margin:0;padding:0}
img{border:0 none;vertical-align:top}
li,ul{list-style-type:none}
h1,h2,h3,h4,h5,h6{font-size:14px}
body,button,input,select,textarea{font-size:12px;font-family:"Microsoft YaHei";background:#F9F9F9}
button{cursor:pointer}
cite,em,i{font-style:normal}
body{background:#fff;color:#363636;line-height:1.2}
a,a:link{color:#FFF;text-decoration:none}
a:active,a:hover{text-decoration:underline}
a:focus{outline:0}
.fixed:after{content:".";display:block;clear:both;height:0;visibility:hidden}
.fixed{display:block;min-height:1%}
*html .fixed{height:1%}
.clear{diplay:block!important;float:none!important;clear:both;overflow:hidden;width:auto!important;height:0!important;margin:0 auto!important;padding:0!important;font-size:0;line-height:0}
.more{float:right}
.more a{font-weight:400;font-size:12px}
.fl,.fr{display:inline;float:left}
.fr{float:right}
body,html{height:100%;overflow:hidden;min-height:600px}
body{background:url(../images/login_bkad.jpg) top center no-repeat;background-size:cover}
div{display: block}
.login-logo{width:100%;height: 113px;overflow:hidden;text-align:center;zoom: 1;_border-bottom:1px solid #d6dfea}
.login-title{width:100%;height: 68px;overflow:hidden;text-align:center;_border-bottom:1px solid #d6dfea;line-height:68px;font-size:50px;letter-spacing:8px;font-family:'Arial Black', Gadget, sans-serif}
.content{width:100%;height:370px;_border-bottom:1px solid #d6dfea}
.left{width:51%;height:100%;float:left}
.map{width:400px;height:370px;margin-left: 300px}
.right{width:49%;height:100%;float:left}
.right1{width:49%;height:100%;float:left;margin-left: 20px;display:flex;justify-content:center;align-items:center}
.login_input{width:450px;height:370px;background:url(../images/login_input.png) left center no-repeat}
.foot{width:100%;line-height:50px;height:50px;position:fixed;left:0;bottom:0%;right:0;text-align:center;color:#f0f8ff;font-size:14px}
.useName{width:260px;height:40px;border:#007eff 1px solid;float:left;display:inline;margin:60px 45px 70px 125px;background:url(../images/user.png) 12px 12px no-repeat;overflow:hidden;border-radius:3px}
.useName input{background-color:transparent;width:210px;margin-left:57px;height:38px;line-height:38px;font-size:14px;border:none;outline:none;}
.usePwd{width:260px;height:40px;border:#007eff 1px solid;float:left;display:inline;margin:-30px 45px 70px 125px;;background:url(../images/pwd.png) 14px 14px no-repeat;overflow:hidden;border-radius:3px}
.usePwd input{background-color:transparent;width:210px;margin-left:57px;height:38px;line-height:38px;font-size:14px;border:none;outline:none;}
.remember{width:269px;height:35px;float:left;line-height:35px;display:inline;margin:-50px 45px 70px 125px;color:grey}
.usebut{width:260px;height:40px;color:#FFF;line-height:40px;float:left;display:inline;margin:-50px 45px 70px 125px;background:#003399; text-align:center; font-size:18px; border:none;border-radius:3px; cursor:pointer;}
.reg{width:289px;height:20px;line-height:20px;float:left;display:inline;margin:-50px 60px 70px 110px; text-align:center; font-size:18px; border:none;border-radius:3px; cursor:pointer;}
.Support{width:289px;height:20px;line-height:20px;float:left;display:inline;margin:-60px 60px 70px 110px; text-align:center; font-size:18px; border:none;border-radius:3px; cursor:pointer;}

.login_all{width:1920px;height:960px;background:url(../images/login_input.png) left center no-repeat;margin:-480px 0 0 -960px}
/*.login_input{width:360px;height:372px;background-image:url(../imagesNew/login_bg.png);border-radius:5px;float:right;margin-top:415px;margin-right:350px}*/




.jzmi p{font-size:14px;color:#0062ab;text-decoration:underline}
.jzmi p a{color:#0062ab}

.useyzm{width:163px;height:50px;border:#007eff 1px solid;float:left;display:inline;margin:10px 0 0 35px;background:url(../imagesNew/yzm.png) 12px 12px no-repeat;overflow:hidden;border-radius:3px}
.useyzm input{background-color:transparent;width:126px;margin-left:37px;height:48px;line-height:48px;font-size:14px;border:none;outline:none;}
.yzmimg{float:right;height:50px;width:90px;display:inline;margin:10px 35px 0 0}

.forgot{line-height:35px;font-size:14px;width:269px;height:50px;float:left;display:inline;margin:0 0 0 35px}
.forgot a{color:#f0f8ff}
.login_all h1{font-size:26px;font-weight:400;color:#ffffff;line-height:67px;height:67px;float:left;width:360px;margin-top:20px;text-align:center}
