body,button,dd,div,dl,dt,form,h1,h2,h3,h4,h5,h6,html,iframe,input,li,p,select,table,td,textarea,th,ul{margin:0;padding:0}
img{border:0 none;vertical-align:top}
li,ul{list-style-type:none}
h1,h2,h3,h4,h5,h6{font-size:14px}
body,button,input,select,textarea{font-size:12px;font-family:"Microsoft YaHei";background:#F9F9F9}
button{cursor:pointer}
cite,em,i{font-style:normal}
body{background:#fff;color:#363636;line-height:1.2}
a,a:link{color:#FFF;text-decoration:none}
a:active,a:hover{text-decoration:underline}
a:focus{outline:0}
.fixed:after{content:".";display:block;clear:both;height:0;visibility:hidden}
.fixed{display:block;min-height:1%}
*html .fixed{height:1%}
.clear{diplay:block!important;float:none!important;clear:both;overflow:hidden;width:auto!important;height:0!important;margin:0 auto!important;padding:0!important;font-size:0;line-height:0}
.more{float:right}
.more a{font-weight:400;font-size:12px}
.fl,.fr{display:inline;float:left}
.fr{float:right}
body,html{height:100%;overflow:hidden;min-height:800px}
body{background:url(../imagesNew/login_bkad.jpg) top center no-repeat;background-size:cover}
.login-logo{width:100%;overflow:hidden;text-align:left;margin-left:18%;margin-top:5%;height:95px}
.login_over{width:0;height:0;position:fixed;left:50%;top:50%}
.login_all{width:1920px;height:960px;background:url(../imagesNew/map.png) left center no-repeat;margin:-480px 0 0 -960px}
.foot{width:100%;line-height:50px;height:50px;position:fixed;left:0;bottom:3%;right:0;text-align:center;color:#f0f8ff;font-size:14px}
.login_input{width:360px;height:372px;background-image:url(../imagesNew/login_bg.png);border-radius:5px;float:right;margin-top:415px;margin-right:350px}
.useName{width:291px;height:50px;border:#007eff 1px solid;float:left;display:inline;margin:10px 0 0 35px;background:url(../imagesNew/user.png) 12px 12px no-repeat;overflow:hidden;border-radius:3px}
.useName input{background-color:transparent;width:210px;margin-left:57px;height:48px;line-height:48px;font-size:14px;border:none;outline:none;}
.usePwd{width:289px;height:50px;border:#007eff 1px solid;float:left;display:inline;margin:30px 0 0 35px;background:url(../imagesNew/pwd.png) 14px 14px no-repeat;overflow:hidden;border-radius:3px}
.usePwd input{background-color:transparent;width:210px;margin-left:57px;height:48px;line-height:48px;font-size:14px;border:none;outline:none;}
.useyzm{width:163px;height:50px;border:#007eff 1px solid;float:left;display:inline;margin:10px 0 0 35px;background:url(../imagesNew/yzm.png) 12px 12px no-repeat;overflow:hidden;border-radius:3px}
.useyzm input{background-color:transparent;width:126px;margin-left:37px;height:48px;line-height:48px;font-size:14px;border:none;outline:none;}
.yzmimg{float:right;height:50px;width:90px;display:inline;margin:10px 35px 0 0}
.usebut_1{width:140px;height:50px;color:#FFF;line-height:50px;float:left;display:inline;margin:20px 0 0 35px;background:#007eff; text-align:center; font-size:18px; border:none;border-radius:3px; cursor:pointer;}
.usebut_2{width:140px;height:50px;color:#FFF;line-height:50px;float:left;display:inline;margin:20px 9px 0 9px;background:#007eff; text-align:center; font-size:18px; border:none;border-radius:3px; cursor:pointer;}
.forgot{line-height:35px;font-size:14px;width:269px;height:50px;float:left;display:inline;margin:0 0 0 35px}
.forgot a{color:#f0f8ff}
.login_all h1{font-size:26px;font-weight:400;color:#ffffff;line-height:67px;height:67px;float:left;width:360px;margin-top:20px;text-align:center}
.jzmi{width:269px;height:35px;float:left;line-height:35px;display:inline;margin-left:35px;margin-top:10px;color:grey}
.jzmi p{font-size:14px;color:#0062ab;text-decoration:underline}
.jzmi p a{color:#0062ab}