html,body {
	height:100%
}
body {
	background:url(../img/login_body.jpg) center center no-repeat; background-size: cover
}
.login-bd{ width: 830px; height: 610px; position: absolute; left: 50%; top: 47%; margin-left: -415px; margin-top: -305px;}
.logo{ display: block; text-align: center;}
.sys-name{ font-size: 30px; color: #fff;-moz-text-shadow:2px 2px 5px #333333; -webkit-text-shadow:2px 2px 5px #333333; text-shadow:2px 2px 5px #333333; text-align: center; line-height: 40px; display: block}
.lg-box{ width: 464px; height: 404px;background:url(../img/lg-box.png) center center no-repeat; margin: 40px auto 0}
.bd-inner{ clear: both}
.lg-label{ height: 50px; line-height: 50px;  padding-top: 30px; width: 100%; text-align: center;color: #333333}.lg-label h4{ font-size: 24px;  font-weight: bold}
.input-item{ border-bottom: 1px solid #e5e5e5; width: 355px; height: 70px; margin: 0 auto}
.input-item input{ border: none;background-color: rgba(255,255,255,0); width: 325px; margin-top: 30px; height: 30px; line-height: 30px; text-indent: 10px;outline : none; margin-left: 5px;}
.supplier{ width: 350px; height: 46px; border-radius: 5px; background: #768f3d; font-size: 18px; text-align: center; color: #feaa5f; line-height: 46px;-moz-text-shadow:2px 2px 5px #333333; -webkit-text-shadow:2px 2px 5px #333333; text-shadow:2px 2px 5px #333333; display: block; margin: 10px auto 0;text-decoration: none}
.Account{ height: 40px; line-height: 40px; font-size: 14px; color: #fff;width: 350px; margin: 10px auto 0; }
.Account a{  color: #203246; text-decoration: none}
.fl{ float: left;}
.fr{ float: right;}
.right-bg{ width: 330px;position: absolute; top: 70px; right: 5%;}
.right-bg div{ float: left; margin-right: 10px; height: 20px; line-height: 20px; background: #3C387E; border-radius: 3px; padding: 3px;}
.right-bg div img{ float: left}
.right-bg div span{ font-size: 12px; color: #fff; float: left; padding-left: 8px; padding-right: 8px;}
.right-bg div.Select{background: #6D6A9E}

input:-webkit-autofill {
	-webkit-box-shadow: 0 0 0px 1000px #43A9DF inset;
 color: #fff;
}


.translate_wrapper{
	position:fixed;font-family: 'News Cycle', sans-serif;
	z-index:1;
	top:30px;
	right:20px;
	font-size:14px;
	background:rgba(255,255,255,0.5);
	border-radius:4px; color: #000;
}

.current_lang{
	cursor:pointer;
	text-transform:uppercase;
	overflow:hidden;
}

.lang{
	padding:10px 15px;
}

.lang.selected{
	display:none;
}

.lang img,
.lang span.lang-txt{
	display:inline-block;
	margin-left:5px;
	vertical-align:middle;
	color: #444444;
}

.lang span.lang-txt{
	position:relative;
	top:-1px;
	font-weight:700;
}

.lang img{
	/*width:20px;*/
	margin-left:0;
}

.lang span span{
	color:#999;
	font-weight:400;
}

.lang span.fa{
	font-size:12px;
	position:relative;
	top:-1px;
	margin-left:3px;
}


/*more lang*/
.more_lang{
	transform:translateY(-20px);
	opacity:0;
	cursor:pointer;
	display:none;
	-webkit-transition: all .3s cubic-bezier(.25, 1.15, .35, 1.15);
	-moz-transition:    all .3s cubic-bezier(.25, 1.15, .35, 1.15);
	-o-transition:      all .3s cubic-bezier(.25, 1.15, .35, 1.15);
	-ms-transition:     all .3s cubic-bezier(.25, 1.15, .35, 1.15);
	transition:         all .3s cubic-bezier(.25, 1.15, .35, 1.15);
}

.translate_wrapper.active .more_lang{
	display:block; border-bottom-left-radius: 4px;border-bottom-right-radius: 4px; overflow: hidden;
}

.more_lang.active{
	opacity:1;
	transform:translateY(-0px);
}

.more_lang .lang:hover{
	background:#5766b2;
	color:#fff;
}

.more_lang .lang:hover span{
	color:#fff;
}

.translate_wrapper:hover,
.translate_wrapper.active,
.content a:hover{
	box-shadow:rgba(0,0,0,0.2) 0 5px 15px;
	-webkit-transition: all 0.3s cubic-bezier(0,.99,.44,.99);
	-moz-transition:    all 0.3s cubic-bezier(0,.99,.44,.99);
	-o-transition:      all 0.3s cubic-bezier(0,.99,.44,.99);
	-ms-transition:     all 0.3s cubic-bezier(0,.99,.44,.99);
	transition:         all 0.3s cubic-bezier(0,.99,.44,.99);

}

.translate_wrapper.active .lang{
	border-bottom:1px solid #A09BCB;
}

/*CONTENT*/
.content{
	width:100%;
	max-width:400px;
	position:absolute;
	top:50%;
	left:50%;
	-ms-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	border-radius:2px;
	padding:20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	text-align:center;
}

.content h1,
.content h2,
.content p{
	margin:0;
}

.content p{
	line-height:22px;
	text-align:left;
	margin-top:15px;
}


.content div.ct-img{
	width:150px;
	height:150px;
	overflow:hidden;
	border-radius:50%;
	margin:0 auto 10px;
}

.content div img{
	height:100%;
	position:relative;
	left:-30px;
}

.content a{
	padding: 8px 15px 10px;
	border-radius:4px;
	background:#5766b2;
	color:#fff;
	text-decoration:none;
	display:inline-block;
	margin-top:25px;
	position:relative;
	overflow:hidden;
}

.content a:active{
	transform: scale(0.9);
	-webkit-transform: scale(0.9);
	-moz-transform: scale(0.9);
}

/*RTL*/
body[dir="rtl"] .translate_wrapper{
	right:20px;
	left:auto;
}

body[dir="rtl"] .lang span.fa{
	margin-right:3px;
	margin-left:0;
}

body[dir="rtl"] .lang .lang-txt{
	margin-right:5px;
	margin-left:0;
}

body[dir="rtl"] .content div img{
	left:auto;
	right:-30px;
}


body[dir="rtl"] .content p{
	text-align:right;
}

body[dir="rtl"] .lang span span{
	float:left;
	margin-right:5px;
}
	
	
	
	
	
	
	
	