/*
   Font Size
========================================================
*/
.f-10{
    font-size: 10px;
}
.f-12{
    font-size: 12px;
}
.f-14{
    font-size: 14px
}
.f-16{
    font-size: 16px
}
.f-18{
    font-size: 18px
}
.f-20{
    font-size: 20px
}
.f-24{
    font-size: 24px
}
.f-26{
    font-size: 26px
}
.f-30{
    font-size: 30px
}
.f-32{
    font-size: 32px
}
/*
    Text Position
================================================================
*/
.t-center{
    text-align: center
}
.t-left{
    text-align: left
}
.t-right{
    text-align: right
}
/*
    Text Weight
==================================================================
*/
.bold{
    font-weight: bold
}
.bold-300{
    font-weight: 300;
}
.bold-500{
    font-weight: 500;
}
.bold-600{
    font-weight: 600;
}
.bold-800{
    font-weight: 800;
}
/*
    Margin
=======================================================
*/
.auto{
    margin-left: auto;
    margin-right: auto;
}
.m-10{
    margin: 10px
}
.m-20{
    margin: 20px
}
.m-t-10{
    margin-top: 10px
}
.m-t-20{
    margin-top: 20px
}
.m-r-10{
	margin-right: 10px
}
.m-r-20{
	margin-right: 20px
}
.m-b-10{
	margin-bottom: 10px
}
.m-b-20{
	margin-bottom: 20px
}
.m-l-10{
	margin-left: 10px
}
.m-l-20{
	margin-left: 20px
}


/*
    Padding
===========================================================
*/
.p-10{
	padding: 10px
}
.p-20{
	padding: 20px
}
.p-t-10{
	padding-top: 10px
}
.p-t-20{
	padding-top: 20px
}
.p-r-10{
	padding-right: 10px
}
.p-r-20{
	padding-right: 20px
}
.p-b-10{
	padding-bottom: 10px
}
.p-b-20{
	padding-bottom: 20px
}
.p-l-10{
	padding-left: 10px
}
.p-l-20{
	padding-left: 20px
}

/*
    Border
===============================================================
*/
.border{
    border: 1px solid #000 !important;
}
.no-border{
    border: none;
}
.border-top {
    border-top: 1px solid #000 !important;
}
.border-right{
    border-right: 1px solid #000 !important;
}
.border-bottom {
    border-bottom: 1px solid #000 !important;
}
.border-left {
    border-left: 1px solid #000 !important;
}
.bd-circle{
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.bd-5{
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
/*
    Float
===================================================
*/
.f-l{
    float: left;
}
.f-r{
    float: right;
}
.f-none{
    float: none;
}
/*
    ClearFix
===================================================
*/
.clearfix:after{
    content:'';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.clearfix{*zoom:1;}/* IE6 IE7 */

/*
    disPlay
=========================================================
*/
.none{
    display: none;
}
.dis-inline{
    display: inline;
}
.dis-block{
    display: block;
}
.dis-ib{
    display: inline-block;
}
.dis-table{
    display: table;
}
.dis-cell{
    display: table-cell;
}
/*
    Width && Vertical
=========================================================
*/
.full{
    width: 100%;
}
.width-half{
    width: 50%;
}
.ver-top{
    vertical-align: top;
}
.ver-middle{
    vertical-align: middle;
}
.ver-bottom{
    vertical-align: bottom;
}
