<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<link href="../../resources/biz/css/reset.css" rel="stylesheet" type="text/css"/>
    <link href="../../resources/biz/css/pop.css" rel="stylesheet" type="text/css"/>
    <link href="../../resources/js/easyui1.9.4/themes/metro/easyui.css" rel="stylesheet"/>
    <link href="../../resources/js/easyui1.9.4/themes/icon.css" rel="stylesheet" type="text/css" />
    <link href="../../resources/js/easyuiext/extend/css/IconExtension.css" rel="stylesheet" type="text/css"/>
	<link href="../../resources/js/bootstrap/css/bootstrap.css" rel="stylesheet"/>
	<script type="text/javascript" src="../../resources/js/easyui1.9.4/jquery.min.js"></script>
	<script type="text/javascript" src="../../resources/js/easyui1.9.4/jquery.easyui.min.js"></script>
	<script type="text/javascript" src="../../resources/js/easyui1.9.4/locale/easyui-lang-zh_CN.js"></script>
	<script type="text/javascript" src="../../resources/js/bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="../../resources/js/dataform.js"></script>
</head>
<body class="easyui-layout" >
	<div region="north" style="height:48px;padding:5px;">
        <a id="btnsave" class="easyui-linkbutton" iconCls="icon-save" href="javascript:void(0)">保存</a>
    </div>
    <div region="center" class="easyui-layout">    
	   <form id="fm" method="post"> 
       <div class="fitem"> 
           <table width="100%" style="border-collapse:separate; border-spacing:0px 2px;"  >
           		<tr>
                    <td class="td70">
                        旧密码
                    </td>
                    <td>
                        <input type="password" class="easyui-textbox" style="height:35px;line-height:35px;width:380px;" name="txt_PASSWORD" id="txt_PASSWORD"  />
                    </td>
                </tr>
                <tr>
                    <td class="td70">
                       新密码
                    </td>
                    <td>
                        <input type="password" class="easyui-textbox" style="height:35px;line-height:35px;width:380px" name="txt_NEW_PASSWORD" id="txt_NEW_PASSWORD"   />
                    </td>
                </tr>
                <tr>
                    <td class="td70">
                        确认密码
                    </td>
                    <td>
                        <input type="password" class="easyui-textbox" style="height:35px;line-height:35px;width:380px" name="txt_CONFIRM_PASSWORD" id="txt_CONFIRM_PASSWORD"   />
                    </td>
                </tr>
                
            </table>
       </div> 
       <input type="hidden" name="action" id="hidtype" /> 
       <input type="hidden" name="txt_INDX" id="txt_INDX" /> 
       </form> 
    </div>
	
	<script type="text/javascript">
	/*<![CDATA[*/
		$("#btnsave").click(function () {
			 var PASSWORD = $('#txt_PASSWORD').val();
			 var NEW_PASSWORD = $('#txt_NEW_PASSWORD').val();
			 var CONFIRM_PASSWORD = $('#txt_CONFIRM_PASSWORD').val();			 
			 $.ajax({
	      	        url:'../../forms/auth/SavePassword',
	      	        type:"POST",
	      	        dataType:"json",
	      	        data:{
	      	        	PASSWORD:PASSWORD,
	      	        	NEW_PASSWORD:NEW_PASSWORD,
	      	        	CONFIRM_PASSWORD:CONFIRM_PASSWORD
	      	        	},
	      	        success:function(result){  
			      	     if(result.IsOk==1){  
			      	       $.messager.alert("信息",result.ErrMessage);			      	       
			      	       parent.window.location.href = '../../login.html';	      	       
			      	     }else{  
			      	       $.messager.alert("信息",result.ErrMessage); 
			      	     }  
	      	        }
	      	    });
	     });
		/*]]>*/
</script>
</body>